.MainPageStyling {
  margin-top: 5vh;
}

.cardHolder {
  border: 2px solid black;
  border-radius: 15px;
  max-width: 60vw;
  margin: 3vh auto;

  hr {
    border-top: 1px solid black;
    width: calc(100% + 4vw - 2px);
    margin-left: -2vw;
  }

  .cardTitle {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 1.5vh;
  }

  .imageAndDetails {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1040px) {
  .cardHolder {
    max-width: 75vw;
  }
}

@media (max-width: 840px) {
  .cardHolder {
    max-width: 75vw;

    .imageAndDetails {
      display: flex;
      flex-direction: column-reverse;
    }

    .imageHolder {
      display: flex;
      justify-content: center;

      img {
        width: auto;
        max-width: 250px;
      }
    }

    .cardTitle {
      margin-bottom: 1vh;
    }
  }
}
